$dark = #333333

$grey-light = #EAE8EC
$grey-base = #C4C4C4
$grey = #777777
$grey2 = #D3D0D6
$greyest = #807D8D

$white = #fff

$dark-blue = #040B2A

$purple = #7E779A 
$purple2 = #545472
$dark-purple = #473E69
$violet = #791281

$purple-light = #F6F4F9


$text-color-first = $dark
$text-color-secondary = $white

$btn-color-secondary = $white 

$transition-base = 300ms


$base-font = 'Pragmatica', sans-serif;
$second-font = 'Commons', sans-serif;