@font-face
    font-family 'Pragmatica'
    src url('./../fonts/Pragmatica-Bold.woff') format('woff'),
        url('./../fonts/Pragmatica-Bold.woff2') format('woff2')
    font-weight 700
    font-style normal

@font-face
    font-family 'Pragmatica'
    src url('./../fonts/Pragmatica-Medium.woff') format('woff'),
        url('./../fonts/Pragmatica-Medium.woff2') format('woff2')
    font-weight 500
    font-style normal

@font-face
    font-family 'Pragmatica'
    src url('./../fonts/Pragmatica-Light.woff') format('woff'),
        url('./../fonts/Pragmatica-Light.woff2') format('woff2')
    font-weight 400
    font-style normal 

@font-face
    font-family 'Pragmatica'
    src url('./../fonts/Pragmatica-ExtraLight.woff') format('woff'),
        url('./../fonts/Pragmatica-ExtraLight.woff2') format('woff2')
    font-weight 300
    font-style normal

@font-face
    font-family 'Commons'
    src url('./../fonts/TTCommons-Bold.woff') format('woff'),
        url('./../fonts/TTCommons-Bold.woff2') format('woff2')
    font-weight 700
    font-style normal

@font-face
    font-family 'Commons'
    src url('./../fonts/TTCommons-DemiBold.woff') format('woff'),
        url('./../fonts/TTCommons-DemiBold.woff2') format('woff2')
    font-weight 600
    font-style normal

@font-face
    font-family 'Commons'
    src url('./../fonts/TTCommons-Medium.ttf') format('woff'),
        url('./../fonts/TTCommons-Medium.woff2') format('woff2')
    font-weight 500
    font-style normal

@font-face
    font-family 'Commons'
    src url('./../fonts/TTCommons-Regular.woff') format('woff'),
        url('./../fonts/TTCommons-Regular.woff2') format('woff2')
    font-weight 400
    font-style normal