.about#about
    .center 
        .about__columns 
            .about__column 
                h2.js-animate О нас
                .about__desc.js-animate Техподдержка от бесперебойного аутсорс-продакшна 
                p.js-animate Являясь партнером более 30 агентств, которые доверили нам 100+ проектов и могут подтвердить качество работы, мы сформировали новую услугу, использовав весь опыт, накопленный в первом юните. 
                p.js-animate Manao.Support — это концентрация системной работы, четких процессов и регламентов, позволяющих минимизировать ситуации, когда исполнители о чем-то забыли, не завершили часть задачи или просто некорректно ее поняли.
                .about__img-list 
                    .about__img-item.js-animate 
                        img(src="../img/about-3.png", alt="О нас")
                    .about__img-item.js-animate
                        img(src="../img/about-2.png", alt="О нас")
            .about__column 
                .about__img-item.js-animate
                    img(src="../img/about-1.png", alt="О нас")

    
