-
    let contactsList = [
        {
            title: 'Наш адрес',
            text: 'Минск, Бирюзова 4/5, каб. 4005'
        },
        {
            title: 'Время работы',
            text: 'пн-пт, с 9:00 до 18:00'
        },
        {
            title: 'Звоните',
            link: 'tel:+74951281324',
            link_text: '+7 (495) 128-13-24'
        },
        {
            title: 'Пишите',
            link_soc: [
                {
                    link: 'mailto:info@manao-team.com',
                    link_text: 'info@manao-team.com'
                },
                {
                    link: 'tg://resolve?domain=ManaoTeamBot',
                    link_text: ' @ManaoTeamBot (Telegram, Viber)' 
                }
            ]
        }
    ]