-
    let payList = [
        {
            link: '##',
            imgUrl: '../img/visa.png',
            imgAlt: 'pay'
        },
        {
            link: '##',
            imgUrl: '../img/visa2.png',
            imgAlt: 'pay'
        },
        {
            link: '##',
            imgUrl: '../img/paypal.png',
            imgAlt: 'pay'
        },
        {
            link: '##',
            imgUrl: '../img/master.png',
            imgAlt: 'pay'
        },
        {
            link: '##',
            imgUrl: '../img/belcart.png',
            imgAlt: 'pay'
        },  
        {
            link: '##',
            imgUrl: '../img/belcart2.png',
            imgAlt: 'pay'
        },
        {
            link: '##',
            imgUrl: '../img/alfa.png',
            imgAlt: 'pay'
        },

        {
            link: '##',
            imgUrl: '../img/Union.png',
            imgAlt: 'pay'
        },                               
    ]