.footer
    padding 115px 0 0
    position relative
    background $dark-blue url(../img/footer-bg-left.png) no-repeat   
    background-size cover

    @media(max-width  980px)
        padding 40px 0 0

    &:before
        content '' 
        width 100% 
        height 100%
        position absolute
        top 0
        left 0
        background   url(../img/footer-bg.svg) no-repeat  left top 
        background-size cover 
        
    .center 
        position relative

    &__bottom  
        padding 40px 0 38px
        display flex
        align-items center 
        justify-content space-between
        position relative

        @media(max-width  980px) 
            flex-direction column
            

        &:before
            content ''
            width 100%
            height 1px
            position absolute
            top 0
            left 0
            background-color $white
            opacity 0.2

    &__pay
        &-list 
            width 100%
            max-width 470px 
            overflow hidden

            @media(max-width  980px) 
                margin-bottom 20px

            .swiper-slide
                width 38px

        &-item
            position relative
            cursor pointer

            &:before
                content '' 
                width 100%
                height 100%
                position absolute
                top 0
                left 0
                background-color $purple2
                opacity 0.5
                transition background $transition-base

            &:hover 
                &:before
                    background none

            a 
                display block
            img 
                width auto

    &__info 
        width 100%
        max-width 670px
        font-family $second-font
        font-weight  500 
        font-size  15px 
        line-height  20px   
        color  $purple
        display flex
        align-items center
        justify-content space-between
        gap 16px 
        opacity 0 
        transition opacity $transition-base 

        &.animation
            opacity 1 

        @media(max-width  670px)
            flex-direction column

        a 
            color  $purple

