.header-info
    a.header-info__link(href="tel:+74951281324")
        img(src="./img/icn-phone.svg", alt="phone")
        | +7 (495) 128-13-24
    a.header-info__link(href="mailto:info@manao-team.com")
        img(src="./img/icn-mail.svg", alt="mail")
        |info@manao-team.com