.header  
    width  100% 
    color  $text-color-secondary
    position  fixed 
    top  0 
    left  0 
    z-index  5  
    transition background $transition-base*2

    &.shadow
        background-color $dark-blue 

    .center  
        padding  39px 20px 
        display  flex 
        align-items  center 
        justify-content  space-between 
        position  relative  

        @media(max-width  980px)  
            padding  11px 20px 

    .logo  
        width 138px 
        @media(max-width  980px) 
            width 90px