-
    let checkoutName = {
        id: 'name',
        className: 'field field__name js-input',
        type: 'text',
        fieldName: 'name',
        placeholder: ' ',
        label: 'Ваше имя'
    }

-
    let checkoutMail = {
        id: 'link',
        className: 'field field__link js-input',
        type: 'text',
        fieldName: 'link',
        placeholder: ' ',
        label: 'Адрес сайта'
    }

-
    let checkoutTextArea = {
        id: 'textarea',
        className: 'field field__textarea',
        type: 'text',
        fieldName: 'message',
        placeholder: ' ',
        label: 'Описание задач'
    }

-
    let advice = {
        id: 'advice',
        className: 'field__checkbox',
        fieldName: 'advice',
        label: 'Мне нужна консультация'
    }

-
    let rate = {
        id: 'rate',
        className: 'field__checkbox',
        fieldName: 'rate',
        label: 'Подберите для нас тариф'
    }

-
    let access = {
        id: 'access',
        className: 'field__checkbox',
        fieldName: 'access',
        label: 'Готовы предоставить доступ для более детальной оценки'
    }



-
    let sendLink = {
        className: 'btn',
        type: 'submit',
        btnUrl: '##',
        label: 'отправить заявку'
    }