-
    let servicesList = [ 
        {title: 'Оптимизировать верстку', imgUrl: './img/services-1.svg'},
        {title: 'Создать страницы', imgUrl: './img/services-2.svg'},
        {title: 'Адаптировать содержание', imgUrl: './img/services-3.svg'},
        {title: 'Настроить интеграцию', imgUrl: './img/services-4.svg'},
        {title: 'Модернизировать сайт', imgUrl: './img/services-5.svg'},
        {title: 'Исправить ошибки', imgUrl: './img/services-6.svg'},
        {title: 'Разработать функционал', imgUrl: './img/services-7.svg'},
        {title: 'Обновить систему', imgUrl: './img/services-8.svg'},
    ]