@require './../../includes/core/color-vars'
@require './../../includes/core/fonts'

@require './../../includes/core/reset'
@require './../../includes/core/core'
@require './../../includes/modules/publications/swiper'



@require './../../includes/mixins/mix-btn/mix-btns'
@require './../../includes/mixins/mix-input-text/mix-input-text'
@require './../../includes/mixins/mix-textarea/mix-textarea'
@require './../../includes/mixins/mix-checkbox/mix-checkbox'
    
@require './../../includes/btns/btn'
@require './../../includes/modules/popup/popup'
    
@require './../../includes/modules/header/header'
@require './../../includes/modules/header/header-info'

@require './../../includes/modules/banner/banner'
@require './../../includes/modules/banner/partners' 
@require './../../includes/modules/main-menu/main-menu' 
@require './../../includes/modules/about/about' 
@require './../../includes/modules/services/services' 
@require './../../includes/modules/publications/publications' 
@require './../../includes/modules/contacts/contacts' 
@require './../../includes/modules/form/form' 
@require './../../includes/modules/social/social' 

@require './../../includes/modules/footer/footer' 