include data

section.banner
    .center

        .banner__text
            .banner__desc.js-animate Верстка. Программирование. Дизайн.
            h1.js-animate
                strong Техническая поддержка сайтов и корпоративных порталов 
            
            .btn__wrap.js-fullSize 
                +btn(moreLink)

        include ./partners