-
    let publishList = [
        {
            title: 'Как мы подбираем людей для аутсорс-продакшна', 
            imgUrl: './../../../img/slide-1.png',
            text: 'Реализация дополнительного поля для элементов, которое генерируется по определенным правилам (как SEO поля).',
            logo: './../../../img/slide-logo.svg',
            date: '12 мая 2021',
            link: '##'
        },
        {
            title: 'Как мы подбираем людей для аутсорс-продакшна', 
            imgUrl: './../../../img/slide-2.png',
            text: 'Реализация дополнительного поля для элементов, которое генерируется по определенным правилам (как SEO поля).',
            logo: './../../../img/slide-logo.svg',
            date: '12 мая 2021',
            link: '##'
        },
        {
            title: 'Как мы подбираем людей', 
            imgUrl: './../../../img/slide-3.png',
            text: 'Реализация дополнительного поля для элементов, которое генерируется по определенным правилам (как SEO поля).',
            logo: './../../../img/cossa_logo.svg',
            date: '12 мая 2021',
            link: '##'
        },
        {
            title: 'Как мы подбираем людей для аутсорс-продакшна', 
            imgUrl: './../../../img/slide-1.png',
            text: 'Реализация дополнительного поля для элементов, которое генерируется по определенным правилам (как SEO поля).',
            logo: './../../../img/slide-logo.svg',
            date: '12 мая 2021',
            link: '##'
        }
    ]