.publications#publications
    .center 
        h2  Публикации
        .publications__desc Делимся своим опытом и экспертизой
        .swiper.publications__list
            .swiper-wrapper 
                include ./publications-item
            
            .swiper-button-next
            .swiper-button-prev